@page
@model EF_Database.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Index";
    int intSTT = 0;
}

@{
    var pagingmodel = new XTL.Helpers.PagingModel()
    {
        currentPage = Model.currentPage,
        countPages = Model.countPages,
        generateUrl = (int? p) => Url.Page("/Blog/Index", new {p = p})
    };
}

<partial name ="_PagingXTL" model="@pagingmodel"/>

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

@* Create search controls *@
<form method = "get" asp-page = "./Index">
    <label>Searching</label>
    <input name="searchString" value="">
    <button class="btn btn-danger" type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>@(++intSTT)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
